<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="client" class="x025.SpringBasicsLessons.SpringBasicsLesson4.beans.Client">
		<constructor-arg index="0" value="1" />
		<constructor-arg value="John Smith" />
	</bean>

	<bean id="eventLogger" class="x025.SpringBasicsLessons.SpringBasicsLesson4.loggers.ConsoleEventLogger" />

	<bean id="app" class="x025.SpringBasicsLessons.SpringBasicsLesson4.App">
		<constructor-arg ref="client" />
		<constructor-arg ref="eventLogger" />
	</bean>
	
	<bean id="event" class="x025.SpringBasicsLessons.SpringBasicsLesson4.beans.Huivent" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

	<bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="MM/dd/yyyy HH:mm:ss:SS"/>
	</bean>

	<!--
        <bean id="dateFormat" class="java.text.DateFormat"
              factory-method="getDateTimeInstance"/>
            factory-method="getDateInstance"/>
             factory-method="getTimeInstance"/>
         -->

	<!--
       <bean id="dateFormat" class="java.text.SimpleDateFormat">
       <constructor-arg value="MM/dd/yyyy HH:mm:ss:SS"/>
       </bean>

   use scope="singleton" to check miliseconds
   -->


</beans>